$audio-height: 40px;

.jp-audio {
  height: $audio-height;
  position: relative;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;

  .jp-controls {
    left: 0;
    position: absolute;
    top: 0;
    width: $audio-height;
    height: 100%;
    background-color: $blue;

    li {
      display: block;
      line-height: $audio-height;
    }

    a {
      text-decoration: none;
      font-size: 20px;
      padding-left: 0px;
      line-height: $audio-height;
      text-align: center;
      cursor: pointer;
      color: rgba($white, 0.8);
      transition: color $ts $te, background $ts $te;

      &:hover {
        color: $white;
      }

      &:before {
        display: inline-block;
        font-family: 'icomoon';
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        font-variant: normal;
        text-transform: none;
        speak: none;
        width: $audio-height;
        line-height: $audio-height;
        text-align: center;
        opacity: 1;
      }

      &.jp-play:before {
        content: '\e908';
      }

      &.jp-pause:before {
        content: '\e909';
      }

      span {
        display:inline-block;
        width:0;
        height:0;
        text-indent: 100%;
      }
    }
  }

  .jp-progress {
    position: absolute;
    top: 0;
    left: $audio-height;
    right: 0;
    height: 100%;
    background-color: $grey;

    .jp-seek-bar {
      position: absolute;
      top: 0;
      left: 0;
      z-index:1;
      //min-width: 100%;
      height: 100%;
      cursor: pointer;

      .jp-play-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: lighten($grey, 10%);

      }
    }
  }

  .jp-current-time {
      position: absolute;
      top: 0;
      z-index:0;
      right: 0;
      height: 100%;
      padding: 0 12px 0 0;
      font-size: 14px;
      line-height: $audio-height;
      text-align:right;
      color: $white;
      font-weight: bold;
  }

}
