#block-portico-structure-location {

  background: $blue-dark;
  @include row;
  position:relative;

  .container {
    color: $white;
    position:absolute;
    top: 0;
    left: 20%;
    width: 300px;
    height:100%;
    z-index: 1;
    background: $blue-dark;

    padding: 30px 20px;
    transition: padding $ts $te;

    @include media($sidebar-break) {
      padding: 40px 30px;
    }

    @include media($break2) {
      padding: 50px;
    }

    .heading {
      display:block;
      font-style: italic;
      margin-bottom: 30px;
    }

    .address {

    }
  }

  .map {
    height:300px;
    @include span-columns(12);
  }

  #map-canvas {
    height: 100%;
    img {
      max-width: none;
    }
  }
}

#block-portico-structure-sermon-promo {
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;

  > .content {
    // background: rgba(#000,0.1);
    max-width: 1200px;
    margin:0 auto;
    display:flex;
    align-items: stretch;
  }

  .left,.right {
    width: 50%;
  }

  .left {
    padding: 2em;
    img {
      margin:0 auto;
    }
  }

  .right {
    padding: 2em;
    .inner {
      padding: 2em;
      height: 100%;
      // background: rgba($white, 0.5);
    }
  }

  .node-sermon {
    
    h2 {
      margin-bottom: 0;
    }

    .field-date {
      margin: 0.5em 0 1em;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8em;
    }
  }

  a {
    @include button;
    margin-right: 1em;
  }
}
