#block-portico-structure-location {
  @include row;
  background: $blue-dark;
  position:relative;

  .container {
    color: $blue-dark;
    // position:absolute;
    top: 10%;
    bottom:10%;
    left: 10%;
    width: 300px;
    height: 80%;
    z-index: 1;
    background: darken($white, 3%);
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 30px 20px;
    transition: padding $ts $te;

    @include media($sidebar-break) {
      padding: 30px 30px;
      position:absolute;
    }

    @include media($break2) {
      padding: 30px;
      background: $white;
    }

    .heading {
      display: block;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .address {

    }
  }

  .map {
    height: 400px;
    @include span-columns(12);
  }

  #map-canvas {
    height: 100%;
    img {
      max-width: none;
    }
  }
}

#block-portico-structure-sermon-promo,
body.node-type-page.subtype-sermons #block-portico-structure-hero-image-title {
  background-color: $blue-dark;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  > .content {
    // background: rgba(#000,0.1);
    max-width: 1200px;
    margin:0 auto;
  }

  .left {
    position: relative;
    padding: 2em;
    img {
      margin:0 auto;
    }
  }

  .right {
    padding: 1em;
    .inner {
      padding: 1em;
      height: 100%;
      background: #eee;
      background: rgba(#eee, 0.8);
      border: 1px solid #777;
      border-radius: 5px;

    }
  }

  .node-sermon {

    h2 {
      margin-bottom: 0;
    }

    .field-date {
      margin: 0.5em 0 1em;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8em;
    }
  }

  a {
    @include button;
    margin-bottom: 20px;
  }




  @include media($sidebar-break) {

    > .content {
      padding: 5em 0;
      display: flex;
      align-items: stretch;
    }

    .left,.right {
      padding: 2em;
      width: 50%;
    }

    .left {
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .right {
      .inner {
        padding: 2em;
      }

      .node-sermon {
        margin-top: 40px;
        position: relative;
      }
    }
  }

  @include media($break2) {
    .right {
      padding-left: 8em;
      a {
        &:last-child {
          margin-left: 20px;
          margin-bottom: 3em;
        }
      }
    }
  }
}


#block-portico-structure-recent-posts {
  padding-bottom: 40px;
  position:relative;
  overflow: hidden;

  @include background-image(linear-gradient(0deg, $blue-dark 0, $blue-dark-darker 100%));
  // @include background-image(linear-gradient(45deg, $green 0, $tan 100%));
  // &:before,&:after{
  //   content:'';
  //   position:absolute;
  //   width:100%;
  //   height:100%;
  // }
  // &:before{
  //   background: $blue;
  //   box-shadow: 0 0 1000px 500px $blue;
  //   // z-index:1;
  //   top: -100%;
  //   left: -100%;
  //   opacity: 0.8;
  // }
  // &:after {
  //   background: white;
  //   bottom: -100%;
  //   right: -100%;
  //   box-shadow: 0 0 400px 400px white;
  //   opacity: 1;
  //   border-radius: 100%;
  // }

  .section-title {

    color: $white;
    text-align: center;
    padding: 2em 0;
    font-size: 1.5em;

    a {
      padding: 0.4em 2em;
      @include button($border-color: $white);
      color:$white;
      position: relative;
      // font-weight: 500;
      // &:after {
      //   position: absolute;
      //   right:10px;
      //
      //   content: '\f105';
      //   font-family: 'icomoon';
      // }
    }
  }

  .node-teaser {
    margin-top:0;
  }

  .flex-wrapper {
    padding: 0 2em;
  }

  @include media($break2) {
    .content {
      display:flex;
      flex-flow:row wrap;
      justify-content: space-between;
      padding: 0 2em;
    }

    .flex-wrapper {
      position: relative;
      padding: 0 3em;
      z-index: 2;
      flex: 1;
      display:flex;
      flex-direction: column;
      width: 50%;

      .section-title {
        display:block;
        text-align: center;
      }

      .node-teaser {
        flex:1;
        width: 100%;
      }
    }
  }
}
