.leadership-wrapper {
  max-width: $break2;
  margin: 0 auto;
  @include pad(1em);

  h2.leadership-title {
    font-weight: 300;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .leadership-type {
    @include row;
    margin-bottom: 2em;

    .node-person {
      height: 440px;
      padding: 0 2em;
    }

    @include media(600px) {
      .node-person {
        @include span-columns(6,12);
        &:nth-child(2n) {
          @include omega;
        }
      }
    }

    @include media($break1) {
      .node-person {
        @include span-columns(4,12);
        &:nth-child(2n) {
          @include span-columns(4,12);;
        }
        &:nth-child(3n) {
          @include omega;
        }
      }
    }
  }
}
