body.front {

#hero {
  @extend .hero-default;
  background-image: none;
  position: relative;

  h1 {
    display: block;
    line-height: 1;
    padding:0;
    margin:0;
    position: relative;
    z-index: 2;
  }

  video {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    width: 100%    !important;
    height: auto   !important;
  }

  &:after {
    position: absolute;
    z-index: 1;
    content: '';
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: $blue-dark;
    opacity: 0.4;
  }
}



}