@mixin font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin button($border-color: $blue-dark, $background: $blue) {

  color: $blue-dark;
  @include pad(.5em 1.5em);
  display: inline-block;
  border: 2px solid $border-color;
  transition: background $ts $te, border $ts $te, color $ts $te;
  font-weight: bold;

  &:hover {
    border-color: $background;
    background-color: $background;
    color: $white;
  }
}

.button {
  @include button();
}
