$body-text-font:    'Arial';
$body-text-color:      #333;

$open-sans:             'Open Sans', sans-serif;
$open-sans-condensed:   'Open Sans Condensed', sans-serif;

$ts: 0.2s;
$te: ease;

$sidebar-break:    720px;
$break1:           800px;
$break2:           960px;
$break2half:       1100px;
$break3:          1200px;
$max:             $break3;

$white:            #ffffff;
$black:            #000000;
$blue-dark:        #152d40;
$blue:             #0077C0;
$grey:             #949494;
$tan:              #ecd9c6;
$red:              #973239;
$green:            #40bf86;
$blue-dark-darker: darken($blue-dark, 10%);