body {

  font-family: $open-sans;
}




a {
  text-decoration: none;
}




p {

  margin:0 0 1em 0;
  line-height: 1.8;
  font-size: rem(16px);

  &:last-child {
    margin:0 !important;
  }
}





ul, ul.menu {
  line-height: 1;
  margin:0;
  li {
    line-height: 1;
    margin:0;
    padding:0;
  }
}




/*
 * Edit Tabs
 */

ul.tabs {

  margin:0;
  border: none;
  width: 100%;
  display: block;
  background: $blue-dark;
  padding: 10px;

  li {

    margin:0;
    padding:0;
    background:none;
    border:none;
    display:inline-block;
    margin-right: 10px;

    &.active {

      a {
        border:none;
        background: none;
        background: $blue;
      }
    }

    a {

      border-radius: 4px;
      background: $grey;
      display: block;
      margin: 0;
      padding: 10px 14px;
      vertical-align: middle;
      border: none;
      font-weight: bold;
      color: $white;
      transition: background $ts $te;

      &:hover {
        background: $blue;
      }

    }
  }
}





/**
 * body styles
 */

p ul {
  li {
    &:before {
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
  line-height: 1.3;
}


.field-body,
.field-description {

  ul {
    margin-bottom: 1.3em;

    li {
      position: relative;
      line-height: 1.5;
      padding-left: 1em;
      margin-left: 0.5em;

      &:before {
        content: '\f111';
        font-family: 'icomoon';
        color: $blue;
        position: absolute;
        left: 0;
        font-size: 8px;
        top: 6px;
      }

    }

  }

  p {
    margin-bottom: 1.3em;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1em;
  }
}


blockquote, q {
  display: block;
  @include pad(1em);
  float:right;
  font-size: 1.2em;
  font-style: italic;
  color: $blue;

  p {
    font-size: 1.2em;
    line-height: 1.6;
  }

  @include media($break1) {
    width: 50%;
    padding: 0;
    margin: 1em 0 1em 2em;
    text-align: right;
  }
}
